<%- include("./../partials/header.ejs") %>

    <div class="container"></div>
    <link rel="stylesheet" href="/style.css">
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">MASAR</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/pulse/welcome">HOME</a></li>
                    <li><a href="/pulse/about">ABOUT</a></li>
                    <li><a href="/pulse/service">SERVICE</a></li>
                    <li><a href="/pulse/contact">CONTACT</a></li>
                </ul>
            </div>

            <div class="about">
                <h1>About Us</h1>
                <p>Hi! We are the creators behind the management system you are using! We are making your ideas to
                    become reality by organizing
                    and providing you better communication and reporting system. We are start-up business we believe
                    that anything starts with an idea.
                    To put that in context we want everyone who has an idea to make it happen by organizing, planning
                    and communication.
                    <br><br>Make Your idea Real or just work organized!
                    <br>/Best regards.
                </p>
            </div>
        </div>

        <%- include("./../partials/footer.ejs") %>