<%- include("./../partials/header.ejs") %>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Not allowed to set a password</title>
    <link rel="stylesheet" href="/style4.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            text-align: center;
        }

        h1 {
            font-size: 34px;
        }
    </style>
</head>

<body>
    <h1>You have already set a password</h1>
    <h2>Here can you go to the login page <a href='/pulse/welcome'>Go to Login Page</a></h2>
    <h3>If you have forgot your password contact your manager!</h3>
    <h4>Contact the manager <a href='/pulse/contact'>Contact Page</a></h4>
</body>
