<%- include("./../partials/header.ejs") %>

    <div class="container"></div>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">MASAR</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="/pulse/welcome">HOME</a></li>
                    <li><a href="/pulse/about">ABOUT</a></li>
                    <li><a href="/pulse/service">SERVICE</a></li>
                    <li><a href="/pulse/contact">CONTACT</a></li>
                </ul>
            </div>
            </div>

            <div class="wrapper">
                <link rel="stylesheet" href="/style.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
                <div class="line">
                </div>
                <div class="single-service">
                    <div class="social">
                        <i class="fa fa-codepen"></i>
                    </div>
                    <span></span>
                    <h3>
                        Strong communication</h3>
                    <p>
                        <br>
                        By using this web application we can provide better communication with you Manger and team!</p>
                </div>
                <div class="single-service">
                    <div class="social">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <span></span>
                    <h3>
                        Abilities</h3>
                    <p><br>
                        We help you handle your projects and reporting in a simple and clear way</p>
                </div>
                <div class="single-service">
                    <div class="social">
                        <i class="fa fa-diamond"></i>
                    </div>
                    <span></span>
                    <h3>
                        Organization</h3>
                    <p><br>
                        Have all your projects planned and organized in while you can work comfortably on them enjoining your work time! You have all your rapports in one place.</p>
                </div>
            </div>
<%- include("./../partials/footer.ejs") %>