<!-- password-setup-form.ejs -->
<form action="/setup-password" method="post">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <input type="submit" value="Set Password">
</form>
